/* Google Mulish fonts here */
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
}

/* Shared styles here */
.text-orange{
    color: #FF5400;
    font-weight: 800;
}
/* choose destination shared styles start here */
.grid-row-1-top-left, .grid-row-1-top-right,.grid-row-2-mid-left, .grid-row-2-mid-center,.grid-row-2-mid-right,.grid-row-3-bottom-left,.grid-row-3-bottom-right{
    position: relative;
    text-align:center;
    color: #ffffff;
}
.grid-row-1-top-left-text, .grid-row-1-top-right-text, .grid-row-2-mid-left-text,.grid-row-2-mid-center-text, .grid-row-2-mid-right-text, .grid-row-3-bottom-left-text,.grid-row-3-bottom-right-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}
/* choose destination shared styles end here */


/* header style starts here */
header{
    max-width: 1140px;
    margin: 50px auto;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo h3{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-left: 15px;
}

nav ul{
    display: flex
}
nav ul li{
    margin-left:30px;
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
/* header-banner section style starts here  */
.header-banner{
    position: relative;
    text-align: center;
    color: #ffffff;
}
.header-banner img{
    max-width: 100%;
}
.header-banner-contents{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -30%);
}
.header-banner-title{
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.header-banner-description{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    margin-bottom: 4rem;
}
.header-banner-inputs{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    border-radius: 5px;
    background: #e7d7d794;
}
.header-banner-inputs input{
    padding: 1.5rem;
    border-radius: 5px;
    border: none;
    /* background: #ffffff; */
    
}
/* header-banner section style ends here  */
/* header style ends here */
/* main section starts here */
main{
    max-width: 1140px;
    margin: 50px auto;
}
/* popular tours section styles start here */
.popular-tours-section, .get-lost-section{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 100px 0;
}
.popular-tours-title{
color: #131318;
font-size:2rem;
font-weight: 800;
margin-bottom: 1.5rem;
}
.popular-tour-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 1.5rem;
}
.popular-tours-list{
    color: rgba(19, 19, 24, 0.70);
    margin-left: 2rem;
    line-height: 2rem;
    margin-bottom: 3.6rem;
}
.btn-primary{
    background-color: #FF5400;
    padding: 20px 40px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 1rem;
}
/* popular tours section styles end here */

/* choose your destination section starts here */
.choose-destination-title,.why-choose-us-title, .deals-and-discount-title{
    color: #131318;
    font-size:2rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    text-align: center;
}
.choose-destination-description, .why-choose-us-description,.deals-and-discount-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 1.5rem;
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

.choose-destination-images-container img{
    /* width: 100%; */
    /* height: 100%; */
}
/* grid images section starts here */
.choose-destination-grid-row{
    /* padding-right: 300px; */
    /* margin-right: 100px; */
    /* height: 300px; */
    /* max-width: 100%; */
    /* min-height: 300px; */
    
}
.choose-destination-images-container{
    max-width: 100%;
    width: 500px;
}
.choose-destination-grid-row-1{
    display: flex;
    flex: 1;
    gap: 20px;
    margin: 20px 0;
    width: 500px;
}
.grid-row-1-top-left,.grid-row-1-top-right,.grid-row-2-mid-left,.grid-row-2-mid-center,.grid-row-2-mid-right,.grid-row-3-bottom-left,.grid-row-3-bottom-right img{
    /* max-width: 100%; */
    /* min-height: 100%; */

}



.choose-destination-grid-row-2{
    display: flex;
    /* flex: 1; */
    gap: 20px;
    margin-bottom: 20px;
}
.choose-destination-grid-row-3{
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}
/* choose your destination section ends here */

/* why choose us section styles start here */
.why-choose-us-card{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}
.why-choose-us-card-left{
    padding: 4rem;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.why-choose-us-card-right{
    padding: 4rem;
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.why-choose-us-card-bottom{
    padding: 4rem;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
/* why choose us section styles end here */


/* deals and discounts section styles start here */
.deals-and-discount{
    margin: 50px 0;
}
/* deals and discounts card 1 styles start here */
.deals-and-discount-card-1{
    position: relative;
    text-align:left;
    color: #242323;
}
.deals-and-discount-card-1 img{
    margin-top: 30px;
    max-width: 100%;
}
.deals-and-discount-card-icons{
    display: flex;
    justify-content: space-between;
}

.deals-and-discount-card-1-text{
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-30%,-80%);
    padding:3rem 3rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.762);
}
.deals-card-title{
    font-size: 1.5rem;
    margin: 1rem 0;
}
.deals-card-description{
    margin: 1rem 0;
}
/* deals and discounts card 1 styles end here */
/* deals and discounts card 2 styles start here */
.deals-and-discount-card-2{
    position: relative;
    text-align:left;
    color: #242323;
}
.deals-and-discount-card-2 img{
    margin-top: 30px;
    max-width: 100%;
}
.deals-and-discount-card-2-text{
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-30%,-80%);
    padding:3rem 1rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.762);
}
.deals-card-btn{
    margin-top: 1.5rem;
    margin-left: 450px;
    
}
/* deals and discounts section styles end here */
/* get lost section styles start here */
.get-lost-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.get-lost-list{
    color: rgba(19, 19, 24, 0.70);
    margin-left: 2rem;
}
/* get lost section styles end here */

/* newsletter section styles start here */
.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    
    
}
.newsletter-inputs{
    border-radius: 8px;
    border: 1px solid #FF5400;
    padding:1.8rem;
    line-height: 2rem
}
.newsletter-inputs input{
    padding: 10px 70px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.newsletter-btn{
    padding: 10px 120px;
}
.newsletter-img{
    position: relative;
    text-align: center;
    color: #ffffff;
    width: 100%;
    /* height: 100%; */
    padding: 150px;
    border-radius: 16px;
    background: url("../Images/Rectangle\ 8\ \(1\).png");
    background-repeat: no-repeat;
}
.newsletter-discount{
    position: absolute;
  bottom: 16px;
  right: 16px;
  background: #FF5400;
  padding: 20px 60px;
  border-radius: 5px;
  /* transform: translate(-5%, -20%); */
  rotate: -8deg;
}

/* newsletter section styles end here */

/* main section ends here */

/* footer styles start here */
.footer{
    background: rgba(19, 19, 24, 0.05);
    padding: 100px 300px;
}
.footer-logo{
    margin-bottom: 20px;
}
.footer-icons{
    margin-left: 360px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.copy-right{
    margin-left: 300px;
    margin-top: 20px;
}
/* footer styles end here */