/* Google Mulish fonts here */
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
}

/* Shared styles here */
.text-orange{
    color: #FF5400;
}


/* header style starts here */
header{
    max-width: 1140px;
    margin: 50px auto;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo h3{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-left: 15px;
}

nav ul{
    display: flex
}
nav ul li{
    margin-left:30px;
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
/* header-banner section style starts here  */
.header-banner{
    position: relative;
    text-align: center;
    color: #ffffff;
}
.header-banner img{
    max-width: 100%;
}
.header-banner-contents{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -30%);
}
.header-banner-title{
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.header-banner-description{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    margin-bottom: 4rem;
}
.header-banner-inputs{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    border-radius: 5px;
    background: #e7d7d794;
}
.header-banner-inputs input{
    padding: 1.5rem;
    border-radius: 5px;
    border: none;
    /* background: #ffffff; */
    
}
/* header-banner section style ends here  */
/* header style ends here */
/* main section starts here */
main{
    max-width: 1140px;
    margin: 50px auto;
}
/* popular tours section styles start here */
.popular-tours-section{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 5rem;
    margin: 100px 0;
}
.popular-tours-title{
color: #131318;
font-size:2rem;
font-weight: 800;
margin-bottom: 1.5rem;
}
.popular-tour-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 1.5rem;
}
.popular-tours-list{
    color: rgba(19, 19, 24, 0.70);
    margin-left: 2rem;
    line-height: 2rem;
    margin-bottom: 3.6rem;
}
.btn-primary{
    background-color: #FF5400;
    padding: 20px 40px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 1rem;
}
/* popular tours section styles end here */
/* main section ends here */